@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.adjust-height {
  height: 100vh;
  height: -webkit-fill-available;
}

.input-range {
  -webkit-appearance: none;
  appearance: none;
}
